@font-face{
    font-family: "Miso";
    src: local('Miso'),
    url('/fonts/Miso.eot') format('embedded-opentype'),
    url('/fonts/Miso.woff') format('woff'),
    url('/fonts/miso-regular.ttf') format('truetype');
}

*{
    box-sizing: border-box;
}
body{
    background: #fdde7e;
    font-family: 'Miso', sans-serif;
}

main{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 78%;
    height: 600px;
}

section{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    flex-direction: column;
    height: 75%;
    flex-basis: 30%;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 3px 3px 0px rgba(26, 26, 26, 0.185);
    padding: 3% 7% 3% 7%;
    min-width: 170px;
}

section p:first-child{
    color: #02995b;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 0.6%;
}

section p:nth-child(3){
    font-size: 56px;
    margin: 10px 0px;
}

section p:nth-child(4){
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
}

section:hover{
    height: 85%;
    transform: scale(1.05);
    align-content: center;
}

img{
    margin: 0 auto;
}

*{transition: all .1s ease-in;}
